body{
    background-color: azure;
    color:black;
    margin:0px;
    padding:0px;
}
.background{
    background-image: url(../Images/mobilebackground.jpg);
    height:500px;
    background-size: cover;
    background-position: center;
    width:1400px;
    color: white;
}

.logo{
    float:left;
    display:inline;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding-right:12px;
    margin-right: 10px;
}

.logo img{
    float:left;

}
.logo1{
    display:inline;
    font-size: 17px;
    font-weight: 600;
    padding-right: 10px;
    margin-right: 10px;
}

.logo1 img{
    float: left;
    padding-left: 10px;
}
.nav{
    float:right;
    font-size:18px;
    font-weight: 600;
    line-height: 14px;
    display:inline;
    padding-right:10px;
    margin-right:10px;
    color:white;
    
}
.nav li{
    padding:18px;
    margin:10px;
    display: inline-block;
    padding-right:10px;
    font-size:18px;
    color:white;

    list-style-type: none;
}

.nav li:hover{
    background-color: red;
    color:black;
    cursor:pointer;
}
.nav-footer li{
    background-color: lightcyan;
    color:black;
    cursor:pointer;
}
.nav-footer li:hover{
    background-color: lightcoral;
    color:black;
    cursor:pointer;
}
.bannerpara{
    font-size:30px;
    font-weight: bold;
    font-family: Verdana;
 /*display: inline-block;*/
    text-transform: capitalize;
    word-spacing: 5px;
    line-height: 25px;
    text-align: right;
}
.bannerpara1{
    font-size:30px;
    font-weight: bold;
    font-family: Verdana;
 /*display: inline;*/
    text-transform: capitalize;
    text-align: center;
    word-spacing: 10px;

    line-height: 25px;
}

.bannerpara1 p{
    font-size:30px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    display:inline-block;
    line-height: 25px;
    word-spacing: 10px;
}
.bannerpara p{
    font-size:30px;
   font-weight: bold;
   text-transform: capitalize;
   text-align: center;
   display:inline-block;
    word-spacing: 10px;

    line-height: 25px;
}

.intro h3{
    text-align: center;
}

.intro{
width:1400px;
height: 500px;
display:inline;
text-transform: capitalize;
line-height: 17px;
font-size:20px;
font-weight: 700;

}

.intro p{
    padding:18px;
    margin:15px;
    text-transform: capitalize;
    line-height: 17px;
    font-size: 20px;
    font-weight: 700;
    
}

.footer{
    width:1400px;
    height: 400px;
    font-size:18px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 16px;
    display: inline;

}

.nav-footer{
    float:right;
    font-size:18px;
    font-weight: 600;
    line-height: 14px;
    display:inline;
    padding-right:10px;
    margin-right:10px;
    
}
.follow{
    background-color: brown;
    color:white;
}
.nav-footer li{
    list-style-type: none;
    padding:16px;
    margin:10px;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
}